.desktop {
  background-color: #000000;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.desktop .group {
  position: absolute;
  top: 21px;
  left: 58px;
  width: 57px;
  height: 43px;
  box-shadow: 4px -1px 14.7px #ffffff40;
}

.desktop .ellipse {
  position: absolute;
  top: 4px;
  left: 10px;
  width: 37px;
  height: 37px;
  background-color: #ffffff;
  border-radius: 18.4px;
}

.desktop .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 43px;
  aspect-ratio: 1.31;
  object-fit: cover;
}

.desktop .div {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 27px;
  height: 27px;
  border-radius: 13.71px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(217, 217, 217, 0) 0%,
    rgba(115, 115, 115, 0.1) 70%,
    rgba(195, 195, 195, 0.02) 100%
  );
}

.desktop .text-wrapper {
  position: absolute;
  top: 20px;
  left: 115px;
  font-family: "Alegreya Sans SC-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 11px;
  left: 852px;
  width: 82px;
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  top: 11px;
  left: 956px;
  width: 121px;
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  font-size: 24px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-2 {
  position: absolute;
  top: 11px;
  left: 260px;
  width: 106px;
  height: 44px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 104px;
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .polygon {
  top: 15px;
  left: 90px;
  position: absolute;
  width: 9px;
  height: 5px;
}

.desktop .group-3 {
  position: absolute;
  top: 11px;
  left: 395px;
  width: 130px;
  height: 44px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .img {
  top: 15px;
  left: 113px;
  position: absolute;
  width: 9px;
  height: 5px;
}

.desktop .group-wrapper {
  position: absolute;
  width: 111px;
  height: 44px;
  top: 11px;
  left: 559px;
  display: flex;
}

.desktop .group-4 {
  width: 112.9px;
  height: 44.26px;
  margin-left: 0;
  position: relative;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 111px;
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .polygon-2 {
  top: 16px;
  left: 98px;
  position: absolute;
  width: 9px;
  height: 5px;
}

.desktop .group-5 {
  position: absolute;
  top: 11px;
  left: 707px;
  width: 113px;
  height: 44px;
}

.desktop .polygon-3 {
  top: 15px;
  left: 97px;
  position: absolute;
  width: 9px;
  height: 5px;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 155px;
  left: 470px;
  font-family: "Afacad-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 843px;
  left: 685px;
  width: 219px;
  opacity: 0.7;
  font-family: "Afacad-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  position: absolute;
  left: 601px;
  bottom: 218px;
  width: 298px;
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .already-have-an {
  position: absolute;
  left: 633px;
  bottom: 129px;
  width: 149px;
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .ellipse-2 {
  position: absolute;
  left: 707px;
  bottom: 117px;
  width: 6px;
  height: 6px;
  background-color: #902f2f;
  border-radius: 3px;
  border: 1px solid;
  border-color: #ffffff;
}

.desktop .ellipse-3 {
  position: absolute;
  left: 719px;
  bottom: 117px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #ffffff;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 483px;
  left: 546px;
  font-family: "Almarai-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .group-6 {
  position: absolute;
  top: 280px;
  left: 546px;
  width: 344px;
  height: 83px;
}

.desktop .text-wrapper-10 {
  position: absolute;
  top: 45px;
  left: 22px;
  width: 151px;
  opacity: 0.5;
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Almarai-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .rectangle {
  position: absolute;
  top: 36px;
  left: 5px;
  width: 335px;
  height: 47px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #ffffff;
}

.desktop .group-7 {
  position: absolute;
  top: 382px;
  left: 546px;
  width: 344px;
  height: 83px;
}

.desktop .text-wrapper-12 {
  position: absolute;
  top: 45px;
  left: 22px;
  width: 208px;
  opacity: 0.5;
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .group-8 {
  position: absolute;
  top: 484px;
  left: 546px;
  width: 344px;
  height: 81px;
}

.desktop .text-wrapper-13 {
  position: absolute;
  top: 43px;
  left: 17px;
  width: 219px;
  opacity: 0.5;
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .rectangle-2 {
  top: 34px;
  left: 5px;
  width: 335px;
  height: 47px;
  border-radius: 10px;
  position: absolute;
  border: 1px solid;
  border-color: #ffffff;
}

.desktop .group-9 {
  position: absolute;
  top: 584px;
  left: 546px;
  width: 344px;
  height: 81px;
}

.desktop .text-wrapper-14 {
  position: absolute;
  top: 42px;
  left: 17px;
  width: 219px;
  opacity: 0.5;
  font-family: "Afacad-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}



.desktop .group-10 {
  position: absolute;
  top: 684px;
  left: 546px;
  width: 344px;
  height: 81px;
}

.desktop .rectangle-4 {
  top: 784px;
  left: 576px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  position: absolute;
  border: 1px solid;
  border-color: #ffffff;
}
.continue-btn {
    position: absolute;
    top: 650px;
    left: 546px;
    width: 344px;
    height: 50px;
    background-color: #3498db;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-family: "Afacad-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
}


.continue-btn {
    position: absolute;
    top: 835px;
    left: 590px;
    width: 250px;
    height: 35px;
    background-color: #3498db;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-family: "Afacad-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
}


.continue-btn:focus {
    outline: 2px solid #2ecc71;
    outline-offset: 2px;
}

.continue-btn.loading {
    background-color: #3498db;
    cursor: wait;
    position: relative;
    color: transparent;
}

.continue-btn.loading::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.input-field {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  color: rgb(255, 255, 255);
  font-size: 18px;
}