* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.desktop {
    width: 1440px;
    min-height: 1024px;
    position: relative;
    background-color: #000000;
}

.group {
    position: absolute;
    top: 21px;
    left: 58px;
    width: 57px;
    height: 43px;
    box-shadow: 4px -1px 14.7px rgba(255, 255, 255, 0.25);
}

.ellipse {
    position: absolute;
    top: 4px;
    left: 10px;
    width: 37px;
    height: 37px;
    background-color: #ffffff;
    border-radius: 18.4px;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 57px;
    height: 43px;
    aspect-ratio: 1.31;
    object-fit: cover;
}

.div {
    position: absolute;
    top: 8px;
    left: 15px;
    width: 27px;
    height: 27px;
    border-radius: 13.71px;
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(217, 217, 217, 0) 0%,
        rgba(115, 115, 115, 0.1) 70%,
        rgba(195, 195, 195, 0.02) 100%
    );
}

.text-wrapper {
    position: absolute;
    top: 20px;
    left: 115px;
    font-family: "Alegreya Sans SC-Medium", Helvetica;
    font-weight: 500;
    font-size: 32px;
    white-space: nowrap;
}

.text-wrapper-2,
.text-wrapper-3,
.text-wrapper-4,
.text-wrapper-5,
.text-wrapper-6 {
    font-family: "Afacad-Regular", Helvetica;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
}

.text-wrapper-2 {
    position: absolute;
    top: 11px;
    left: 852px;
    width: 82px;
}

.text-wrapper-3 {
    position: absolute;
    top: 11px;
    left: 956px;
    width: 121px;
}

.group-2,
.group-3,
.group-5 {
    position: absolute;
    height: 44px;
    top: 11px;
}

.group-2 {
    left: 260px;
    width: 106px;
}

.group-3 {
    left: 395px;
    width: 130px;
}

.group-5 {
    left: 707px;
    width: 113px;
}

.group-wrapper {
    position: absolute;
    width: 111px;
    height: 44px;
    top: 11px;
    left: 559px;
    display: flex;
}

.group-4 {
    width: 112.9px;
    height: 44.26px;
    margin-left: 0;
    position: relative;
}
.polygon,
.img,
.polygon-2,
.polygon-3 {
    position: absolute;
    width: 9px;
    height: 5px;
}

.polygon {
    top: 15px;
    left: 90px;
}

.img {
    top: 15px;
    left: 113px;
}

.polygon-2 {
    top: 16px;
    left: 98px;
}

.polygon-3 {
    top: 15px;
    left: 97px;
}

.text-wrapper-7 {
    position: absolute;
    top: 155px;
    left: 470px;
    font-family: "Afacad-Bold", Helvetica;
    font-weight: 700;
    font-size: 64px;
}

.group-6,
.group-8 {
    position: absolute;
    width: 344px;
    height: 83px;
    left: 546px;
}

.group-6 {
    top: 280px;
}

.group-8 {
    top: 400px;
    height: 81px;
}

.text-wrapper-11 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Almarai-Bold", Helvetica;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
}

.rectangle,
.rectangle-2 {
    position: absolute;
    width: 335px;
    height: 47px;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

.rectangle {
    top: 36px;
    left: 5px;
}

.rectangle-2 {
    top: 34px;
    left: 5px;
}

.text-wrapper-10,
.text-wrapper-13 {
    position: absolute;
    opacity: 0.5;
    font-family: "Afacad-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    white-space: nowrap;
}

.text-wrapper-10 {
    top: 45px;
    left: 22px;
    width: 151px;
}

.text-wrapper-13 {
    top: 43px;
    left: 17px;
    width: 219px;
}

.continue-btn {
    position: absolute;
    top: 650px;
    left: 546px;
    width: 344px;
    height: 50px;
    background-color: #3498db;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-family: "Afacad-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
}


.continue-btn {
    position: absolute;
    top: 520px;
    left: 590px;
    width: 250px;
    height: 35px;
    background-color: #3498db;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-family: "Afacad-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
}


.continue-btn:focus {
    outline: 2px solid #2ecc71;
    outline-offset: 2px;
}

.continue-btn.loading {
    background-color: #3498db;
    cursor: wait;
    position: relative;
    color: transparent;
}

.continue-btn.loading::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}
.input-field {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.text-wrapper-8 {
    position: absolute;
    top: 843px;
    left: 685px;
    width: 219px;
    opacity: 0.7;
    font-family: "Afacad-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.text-wrapper-8:hover {
    opacity: 1;
}

.p {
    position: absolute;
    top: 595px;
    left: 625px;
    bottom: 218px;
    width: 298px;
    font-family: "Afacad-Regular", Helvetica;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

.p:hover {
    text-decoration: underline;
}

.already-have-an {
    position: absolute;
    top: 650px;
    left: 655px;
    bottom: 129px;
    width: 149px;
    font-family: "Afacad-Regular", Helvetica;
    font-weight: 400;
    font-size: 10px;
}
.ellipse-2,
.ellipse-3 {
    position: absolute;
    top: 700px;
    left: 700px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    bottom: 117px;
}

.ellipse-2 {
    left: 707px;
    background-color: #902f2f;
}

.ellipse-3 {
    left: 719px;
}

.rectangle-4 {
    position: absolute;
    top: 784px;
    left: 576px;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #ffffff;

}
.input-field {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  color: rgb(255, 255, 255);
  font-size: 18px;
}