/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: white;
  font-family: "Afacad", sans-serif;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(4px);
}

.logo {
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-item,
.dropdown {
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.3s;
}

.nav-item:hover,
.dropdown:hover {
  opacity: 1;
}

/* RIGHT SIDE BUTTONS */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login {
  font-size: 20px;
  cursor: pointer;
}

.signup-btn {
  padding: 8px 22px;
  background: #902f2f;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

/* HERO SECTION */
.hero {
  text-align: center;
  margin-top: 150px;
  padding: 0 20px;
}

.hero h1 {
  font-size: 60px;
  font-weight: 700;
}

.hero p {
  margin-top: 15px;
  font-size: 22px;
  opacity: 0.7;
}

/* CTA BUTTONS */
.cta-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primary-btn {
  padding: 14px 34px;
  background: #902f2f;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.secondary-btn {
  padding: 13px 34px;
  border: 2px solid #902f2f;
  background: transparent;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* MOBILE RESPONSIVE */
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .navbar {
    padding: 20px;
  }

  .hero h1 {
    font-size: 42px;
  }

  .cta-buttons {
    flex-direction: column;
  }
}