<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up</title>
</head>
<body>
    <h1>sign-up page</h1>
    <br>
    <br>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        {{form.unm}}
         {% for error in form.unm.errors %}
            <p style="color:red;">{{ error }}</p>
        {% endfor %}
        {{form.passwd}}
        {{form.submit}}
    </form>
    <h4></h4>
    <a href="{{url_for('login')}}">login</a>
</body>
</html>